.App {
  text-align: center;
  color: #0dda5b;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #000000;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(85, 46, 46);
}

.App-link {
  color: #0dda5b;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Topbar {
  width: 1100px;
  display: 'flex';
  margin: 0.5rem;
  border-radius: 3px;
}

.Footer {
  color: #0dda5b;
}
